<h1>Signup</h1>

<div class="row">
        <form method="POST" action="/auth/signup" class="col s12">
        <div class="row">
            <div class="input-field" col s6>
            <input id="firstname" type="firstname" class="validate" name="firstName">
            <label for="firstName">First Name</label>
            </div>
        </div>
        <div class="row">
                <div class="input-field" col s6>
                <input id="lastname" type="lastname" class="validate" name="lastname">
                <label for="lastname">Last Name</label>
                </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light teal lighten-3" type="submit" name="action">Signup
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
</form>