html, body {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
}